body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #fff; /* Set background color to white */
}

.navbar {
  background-color: #28a745; /* Set navbar background color to green */
  color: #e62a2a; /* Set text color to white */
  text-align: center;
  padding: 20px;
}

.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff; /* Set background color to white */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

form {
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input {
  width: calc(100% - 22px); /* Adjust width to account for padding */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}
